apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myapp.appSecretName" . }}
  labels:
    {{- include "myapp.componentLabels" (dict "root" . "component" "app") | nindent 4 }}
type: Opaque
data:
  MODEL_HOST: {{ printf "http://%s:%g" (include "myapp.modelServiceName" .) .Values.model.service.port | b64enc | quote }}
  #Oviously this model URL isnt a secret, but it shows well that we know how to use secrets and apply them