apiVersion: v1
kind: Secret
metadata:
  name: {{ include "myapp.appSecretName" . }}
  labels:
    {{- include "myapp.componentLabels" (dict "root" . "component" "app") | nindent 4 }}
type: Opaque
stringData:
  smtpUser: {{ .Values.app.secret.smtpUser | quote }}
  smtpPassword: {{ .Values.app.secret.smtpPassword | quote }}