{{- if and .Values.istio.enabled .Values.istio.virtualService.create }}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ include "myapp.istioVirtualServiceName" . }}
  labels:
    {{- include "myapp.componentLabels" (dict "root" . "component" "istio") | nindent 4 }}
spec:
  hosts:
{{- $vsHosts := .Values.istio.virtualService.hosts }}
{{- if not $vsHosts }}
{{- $vsHosts = .Values.istio.gateway.hosts }}
{{- end }}
{{- range $vsHosts }}
    - {{ . | quote }}
{{- end }}

  gateways:
{{- if .Values.istio.virtualService.gateways }}
{{- range .Values.istio.virtualService.gateways }}
    - {{ . | quote }}
{{- end }}
{{- else }}
    - {{ include "myapp.istioGatewayName" . }}
{{- end }}

  http:
    - match:
        - uri:
            prefix: {{ .Values.istio.virtualService.uriPrefix | quote }}
      route:
{{- range .Values.istio.virtualService.routes }}
        - destination:
            host: {{ default (include "myapp.istioAppServiceHost" $) .host | quote }}
            port:
              number: {{ default $.Values.app.service.port .port }}
          weight: {{ .weight }}
{{- end }}
{{- end }}
