{{- if and .Values.istio.enabled .Values.istio.virtualService.create }}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ include "myapp.istioVirtualServiceName" . }}
  labels:
    {{- include "myapp.componentLabels" (dict "root" . "component" "istio") | nindent 4 }}
spec:
  hosts:
  {{- $vsHosts := .Values.istio.virtualService.hosts }}
  {{- if not $vsHosts }}
  {{- $vsHosts = .Values.istio.gateway.hosts }}
  {{- end }}
  {{- range $vsHosts }}
  - {{ . | quote }}
  {{- end }}

  gateways:
    - {{ include "myapp.istioGatewayName" . }}

  http:
    - match:
        - headers:
            {{ .Values.istio.canary.header | default "canary" }}:
              exact: {{ .Values.istio.canary.headerValue | default "enabled" | quote }}
      route:
        - destination:
            host: {{ include "myapp.appServiceName" . }}
            subset: v2
    - match:
        - headers:
            cookie:
              regex: "^(.*?;)?(user_group=v2)(;.*)?$"
      route:
        - destination:
            host: {{ include "myapp.appServiceName" . }}
            subset: v2
    - match:
        - headers:
            cookie:
              regex: "^(.*?;)?(user_group=v1)(;.*)?$"
      route:
        - destination:
            host: {{ include "myapp.appServiceName" . }}
            subset: v1
    - route:
        - destination:
            host: {{ include "myapp.appServiceName" . }}
            subset: v1
          weight: {{ .Values.istio.virtualService.weightStable | default 90 }}
          headers:
            response:
              set:
                Set-Cookie: {{ .Values.istio.canary.stableCookie }}
        - destination:
            host: {{ include "myapp.appServiceName" . }}
            subset: v2
          weight: {{ .Values.istio.virtualService.weightExperiment | default 10 }}
          headers:
            response:
              set:
                Set-Cookie: {{ .Values.istio.canary.experimentalCookie }}
  {{- end }}