services:
  model-service:
    image: ghcr.io/doda25-team10/model-service:latest
    environment:
      - PORT=8081
    volumes:
      - ./model:/root/sms/output
    restart: unless-stopped

  app-service:
    image: ghcr.io/doda25-team10/app-service:latest // no package right now
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MODEL_SERVICE_URL=http://model-service:8081
    restart: unless-stopped