services:
  model-service:
    image: ghcr.io/doda25-team10/model-service:${MODEL_SERVICE_TAG:-0.1.5}
    pull_policy: always
    environment:
      - PORT=${MODEL_PORT:-8081}
    volumes:
      # Expects the models to be in a local 'model/' directory
      # The models are mounted to '/root/sms/output' in the container 
      - ${MODEL_PATH:-./model}:/root/sms/output

    # Always restarts the container if any failure occurs, unless it is explicitly stopped
    restart: unless-stopped

  app:
    image: ghcr.io/doda25-team10/app:${APP_SERVICE_TAG:-0.0.11}
    pull_policy: always
    ports:
      - "${APP_PORT:-8080}:8080"
    environment:
      - PORT=${APP_PORT:-8080}
      - MODEL_HOST=${MODEL_HOST:-http://model-service:8081}

    # Always restarts the container if any failure occurs, unless it is explicitly stopped
    restart: unless-stopped
