services:
  model-service:
    image: ghcr.io/doda25-team10/model-service:latest
    environment:
      - PORT=8081
    volumes:
      # Expects the models to be in a local 'model/' directory
      # The models are mounted to '/root/sms/output' in the container 
      - ./model:/root/sms/output

    # Always restarts the container if any failure occurs, unless it is explicitly stopped
    restart: unless-stopped

  app-service:
    image: ghcr.io/doda25-team10/app-service:latest
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - MODEL_HOST=http://model-service:8081
      
    # Always restarts the container if any failure occurs, unless it is explicitly stopped
    restart: unless-stopped