# Default values for myapp.

global:
  domain: "example.com"
  storage:
    enabled: true
    hostPath: "/mnt/shared"

app:
  name: "app"
  replicaCount: 2
  image:
    repository: "ghcr.io/doda25-team10/app"
    tagStable: "0.0.7"
    tagExperiment: "0.0.6"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080
    annotations: {}
  ingress:
    enabled: false # Temporarily disabled due to getting failed calling webhook error
    hosts:
      - name: "stable"
        enabled: true
        host: "myapp.example.com"
        path: "/"
        tlsSecretName: "myapp-tls"
      - name: "preview"
        enabled: false
        host: "preview.myapp.example.com"
        path: "/"
        tlsSecretName: ""
    annotations: {}
  env: { }
  resources: { }

model:
  name: "model-service"
  host: "sms-stack-model-service"
  replicaCount: 1
  image:
    repository: "ghcr.io/doda25-team10/model-service"
    tagStable: "0.1.5"
    tagExperiment: "0.1.4"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  env: {}
  resources: {}

prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: "15s"
    path: "/sms/metrics"
  service:
      type: ClusterIP
      port: 9090

kube-prometheus-stack:
  enabled: true
  
  prometheus:
    enabled: true

    prometheusSpec:
      scrapeInterval: 5s
      evaluationInterval: 5s

      ruleSelector: {}

      serviceMonitorSelector:
        matchLabels:
          monitoring: "app"
      
      # How often to scrape metrics
      scrapeInterval: 15s

      resources: {}
      env: {}

    

  alertmanager:
    enabled: true
    alertmanagerSpec:
      # Using a custom config instead of the default one, because of merge issues with Helm
      useExistingSecret: true
      configSecret: alertmanager-myapp-custom-config
  
  grafana:
    enabled: false

alertmanager:
  smtpPassword: ""  # Placeholder - must provide via --set

grafana:
  enabled: true
  image:
    repository: grafana/grafana
    tag: "10.4.2"
    pullPolicy: IfNotPresent
  adminUser: "admin"
  adminPassword: "admin"
  service:
    type: ClusterIP
    port: 3000
  dashboards:
    defaultHome: "app-metrics-dashboard.json"
  resources: {}

istio:
  enabled: true
  gateway:
    create: true
    name: "gateway"
    selectorLabels:
      istio: ingressgateway
    hosts:
      - "*"
    port:
      number: 80
      name: http
      protocol: HTTP

  virtualService:
    create: true
    name: ""
    hosts: []
    uriPrefix: "/"
    weightStable: 90
    weightExperiment: 10

  canary:
    header: "canary"
    headerValue: "enabled"
    stableCookie: "user_group=v1; Path=/; Max-Age=86400"
    experimentalCookie: "user_group=v2; Path=/; Max-Age=86400"
