# Default values for myapp.

global:
  domain: "example.com"
  storage:
    enabled: true
    hostPath: "/mnt/shared"

nameOverride: ""
fullnameOverride: "sms-stack"

app:
  name: "app-service"
  replicaCount: 2
  image:
    repository: "ghcr.io/doda25-team10/app-service"
    tag: "latest"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080
    annotations: {}
  ingress:
    enabled: true
    hosts:
      - name: "stable"
        enabled: true
        host: "myapp.example.com"
        path: "/"
        tlsSecretName: "myapp-tls"
      - name: "preview"
        enabled: false
        host: "preview.myapp.example.com"
        path: "/"
        tlsSecretName: ""
    annotations: {}
  env: { }
  resources: { }

model:
  name: "model-service"
  host: "sms-stack-model-service"
  replicaCount: 1
  image:
    repository: "ghcr.io/doda25-team10/model-service"
    tag: "latest"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  env: {}
  resources: {}

prometheus:
  enabled: false #Disabled for now
  image:
    repository: prom/prometheus
    tag: v2.52.0
    pullPolicy: IfNotPresent
  scrapeInterval: "15s"
  service:
    type: ClusterIP
    port: 9090
  resources: {}
  serviceMonitor:
    enabled: true
    namespace: ""
    interval: "15s"

grafana:
  enabled: false #Disabled for now
  image:
    repository: grafana/grafana
    tag: "10.4.2"
    pullPolicy: IfNotPresent
  adminUser: "admin"
  adminPassword: "CHANGE_ME"
  service:
    type: ClusterIP
    port: 3000
  dashboards:
    defaultHome: "app-metrics-dashboard.json"
  resources: {}
