# Default values for myapp.

global:
  domain: "example.com"
  storage:
    enabled: true
    hostPath: "/mnt/shared"

app:
  name: "app-service"
  replicaCount: 2
  image:
    repository: "ghcr.io/doda25-team10/app-service"
    tag: "latest"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080
    annotations: {}
  ingress:
    enabled: true
    hosts:
      - name: "stable"
        enabled: true
        host: "myapp.example.com"
        path: "/"
        tlsSecretName: "myapp-tls"
      - name: "preview"
        enabled: false
        host: "preview.myapp.example.com"
        path: "/"
        tlsSecretName: ""
    annotations: {}
  env: { }
  resources: { }

model:
  name: "model-service"
  host: "sms-stack-model-service"
  replicaCount: 1
  image:
    repository: "ghcr.io/doda25-team10/model-service"
    tag: "latest"
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 8081
    targetPort: 8081
  env: {}
  resources: {}

prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: "15s"
    path: "/sms/metrics"
  service:
      type: ClusterIP
      port: 9090

kube-prometheus-stack:
  enabled: true
  
  prometheus:
    enabled: true

    prometheusSpec:
      scrapeInterval: 5s
      evaluationInterval: 5s

      ruleSelector: {}

      serviceMonitorSelector:
        matchLabels:
          monitoring: "app"
      
      # How often to scrape metrics
      scrapeInterval: 15s

      resources: {}
      env: {}

    

  alertmanager:
    enabled: true
    alertmanagerSpec:
      # Using a custom config instead of the default one, because of merge issues with Helm
      useExistingSecret: true
      configSecret: alertmanager-myapp-custom-config
  
  grafana:
    enabled: false

alertmanager:
  smtpPassword: ""  # Placeholder - must provide via --set

grafana:
  enabled: true
  image:
    repository: grafana/grafana
    tag: "10.4.2"
    pullPolicy: IfNotPresent
  adminUser: "admin"
  adminPassword: "admin"
  service:
    type: ClusterIP
    port: 3000
  dashboards:
    defaultHome: "app-metrics-dashboard.json"
  resources: {}
