global:
  scrape_interval: {{ .Values.prometheus.scrapeInterval }}

scrape_configs:
  - job_name: "{{ include "myapp.name" . }}"
    honor_labels: true
    metrics_path: /metrics
    static_configs:
      - targets:
          - "{{ include "myapp.appServiceName" . }}.{{ .Release.Namespace }}.svc:{{ .Values.app.service.port }}"
    relabel_configs:
      - source_labels: [__address__]
        target_label: job
        replacement: "{{ include "myapp.name" . }}"

rule_files:
  - /etc/prometheus/alerting-rules.yml

